section {
  border-radius: 1rem;
  .add-recipe {
    padding: 30px 10px;
    background-color: rgba(240, 255, 239, 1);
  }
  .form-button {
    button {
      padding: 7px 15px;
      margin-left: 10px;
    }
  }
}
