<section class="login-container d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="reset-password-card">
          <div class="text-center">
            <img src="/assets/img/brandPic.png" class="w-50" />
          </div>

          <h2>Reset Password</h2>
          <p>Please Enter Your Otp or Check Your Inbox</p>

          <form [formGroup]="resetPassword">
            <!-- mail started  -->
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i class="far fa-envelope"></i>
              </span>
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                aria-label="email"
                aria-describedby="basic-addon1"
                formControlName="email"
              />
            </div>
            <div
              class="alert alert-danger p-2 my-2"
              *ngIf="
                resetPassword.get('email')?.touched &&
                resetPassword.get('email')?.status == 'INVALID'
              "
            >
              <h5 *ngIf="resetPassword.get('email')?.getError('required')">
                mail is missing
              </h5>
              <h5 *ngIf="resetPassword.get('email')?.getError('email')">
                Hossam@Upskilling.com
              </h5>
            </div>
            <!-- mail end  -->

            <!-- OTP started -->
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa-solid fa-lock"></i>
              </span>
              <input
                type="text"
                class="form-control"
                placeholder="OTP"
                aria-label="OTP"
                aria-describedby="basic-addon1"
                formControlName="seed"
              />
            </div>
            <div
              class="alert alert-danger p-2 my-2"
              *ngIf="
                resetPassword.get('seed')?.touched &&
                resetPassword.get('seed')?.status == 'INVALID'
              "
            >
              <h5 *ngIf="resetPassword.get('seed')?.getError('required')">
                OTP is missing
              </h5>
            </div>
            <!-- OTP end -->
            <!-- password started -->
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa-solid fa-lock"></i>
              </span>
              <input
                type="password"
                class="form-control"
                placeholder="New Password"
                aria-label="Password"
                aria-describedby="basic-addon1"
                formControlName="password"
              />
            </div>
            <div
              class="alert alert-danger p-2 my-2"
              *ngIf="
                resetPassword.get('password')?.touched &&
                resetPassword.get('password')?.status == 'INVALID'
              "
            >
              <h5 *ngIf="resetPassword.get('password')?.getError('required')">
                password is missing
              </h5>
              <h5 *ngIf="resetPassword.get('password')?.getError('pattern')">
                wrong password pattern
              </h5>
            </div>
            <!-- password end -->
            <!-- confirmPassword started -->
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa-solid fa-lock"></i>
              </span>
              <input
                type="password"
                class="form-control"
                placeholder="Confirm New Password"
                aria-label="Password"
                aria-describedby="basic-addon1"
                formControlName="confirmPassword"
              />
            </div>
            <div
              class="alert alert-danger p-2 my-2"
              *ngIf="
                resetPassword.get('confirmPassword')?.touched &&
                resetPassword.get('confirmPassword')?.status == 'INVALID'
              "
            >
              <h5
                *ngIf="
                  resetPassword.get('confirmPassword')?.getError('required')
                "
              >
                Confirm password is missing
              </h5>
              <h5
                *ngIf="
                  resetPassword.get('confirmPassword').value !=
                  resetPassword.get('password').value
                "
              >
                Passwords Not match
              </h5>
            </div>
            <!-- confirmPassword end -->

            <button
              class="btn main-bg w-100 text-white"
              (click)="sendResetPassword()"
            >
              Reset Password
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<app-loader></app-loader>
