<section class="login-container d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="login-card">
          <div class="text-center">
            <img src="/assets/img/brandPic.png" class="w-50" />
          </div>
          <h2>Login</h2>
          <p>Welcome Back! Please enter your details</p>

          <form [formGroup]="loginForm">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa-solid fa-mobile-screen"></i>
              </span>
              <input
                type="email"
                class="form-control"
                placeholder="Enter Your Email"
                aria-label="email"
                aria-describedby="basic-addon1"
                formControlName="email"
              />
            </div>
            <div
              class="alert alert-danger p-2 my-2"
              *ngIf="
                loginForm.get('email')?.touched &&
                loginForm.get('email')?.status == 'INVALID'
              "
            >
              <h5 *ngIf="loginForm.get('email')?.getError('required')">
                mail is missing
              </h5>
              <h5 *ngIf="loginForm.get('email')?.getError('email')">
                Hossam@Upskilling.com
              </h5>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa-solid fa-lock"></i>
              </span>
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                aria-label="Password"
                aria-describedby="basic-addon1"
                formControlName="password"
              />
            </div>
            <div
              class="alert alert-danger p-2 my-2"
              *ngIf="
                loginForm.get('password')?.touched &&
                loginForm.get('password')?.status == 'INVALID'
              "
            >
              <h5 *ngIf="loginForm.get('password')?.getError('required')">
                password is missing
              </h5>
              <h5 *ngIf="loginForm.get('password')?.getError('pattern')">
                wrong password pattern
              </h5>
            </div>
            <div class="d-flex justify-content-between links-holder my-3">
              <a class="second-txt"> Register Now</a>
              <a
                class="main-text"
                (click)="openResetPasswordDialog(loginForm.get('email').value)"
              >
                Forget Password</a
              >
            </div>

            <button
              class="btn main-bg w-100 text-white"
              (click)="sendLoginData()"
            >
              LOGIN
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<app-loader></app-loader>
