<section>
  <div class="row">
    <div class="col-md-12">
      <div class="login-card">
        <div class="text-center">
          <img src="/assets/img/brandPic.png" class="w-50" />
        </div>
        <h2 mat-dialog-title>Request Reset Password</h2>
        <p mat-dialog-content>Please Enter Your Email And Check Your Inbox</p>
        <form [formGroup]="resetForm">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <i class="far fa-envelope"></i>
            </span>
            <input
              type="text"
              class="form-control"
              placeholder="Email"
              aria-label="Email"
              aria-describedby="basic-addon1"
              formControlName="email"
            />
          </div>
          <h5 *ngIf="resetForm.get('email')?.getError('required')">
            mail is missing
          </h5>
          <h5 *ngIf="resetForm.get('email')?.getError('email')">
            Hossam@Upskilling.com
          </h5>

          <button
            class="btn main-bg w-100 text-white"
            (click)="sendMailtoReset()"
          >
            Send
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
