@import "./variables.scss";

.login-container {
  background-image: url(/assets/img/loginBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.login-card {
  background-color: $white-color;
  border-radius: 16px;
  padding: 1.5rem;
  h2 {
    color: $login-header;
  }

  p {
    color: $wlc-msg;
  }

  input {
    background-color: $forms-clr;
  }

  i {
    color: $icons-clr;
  }

  .eye-icon {
    position: absolute;
    top: 50%;
    right: 5%;
    z-index: 100;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
.links-holder {
  margin: a {
    text-decoration: none;
  }
}

.reset-mail {
  @extend .login-card;
}
.reset-password-card {
  @extend .login-card;
}
